In [1]:
import pandas as pd
import numpy as np



file = "Resources/election_data.csv"


election_data = pd.read_csv(file)

election_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [2]:
total_number_votes = len(election_data["Voter ID"])

total_number_votes

3521001

In [3]:
candidates = election_data["Candidate"].unique()

candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

old school way but efficient

khan = election_data.loc[election_data["Candidate"] == "Khan"]

len(khan)

In [4]:
grouped_candidate = election_data.groupby(['Candidate'])

candidate_count = grouped_candidate.agg({'Voter ID':"count"})["Voter ID"]

candidate_count

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [5]:
percentage = []

for vote in range(len(candidate_count)):
    
    percentage.append((candidate_count[vote]/total_number_votes))
    
    

lst = []

for vote in range(len(candidate_count)):
    
    x= candidates[vote] + ": " + str("{:.2%}".format(percentage[vote])) + " (" + str(candidate_count[vote]) + ")"
    
    print(x)
    
    lst.append(x)

Khan: 20.00% (704200)
Correy: 63.00% (2218231)
Li: 14.00% (492940)
O'Tooley: 3.00% (105630)

In [6]:
candidate_winner = grouped_candidate.agg({'Voter ID':"count"}).sort_values(by = "Voter ID", ascending=False )

candidate_winner.index[0]

'Khan'

f = open("Output_analysis.txt" , "w")
f.write("Election Results"+ "\n")
f.write("Total Votes : "+ str(Total) + "\n")
f.write("-------------------------------------"+ "\n")
f.write(lst[0] + "\n")
f.write(lst[1] + "\n")
f.write(lst[2] + "\n")
f.write(lst[3] + "\n")
f.write("-------------------------------------" + "\n")
f.write("Winner : "+ candidate_winner.index[0] + "\n")
f.close()